@charset "utf-8";
body{
	background : #CCFFCC;
}

h1{
	color : #000000;
	width : 25%;
	border: solid 10px red;
}


.koma{
	font-size : 30px;
	text-align : center;
	width : 25%;
}

.a{
 font-size : 22px;
}

.come{
	border-bottom : solid 5px red;
	width : 13%;
	text-align : center;
}

.aka{
	color : red;
}

.center{
	text-align : center;
}

.child{
    border: 5px solid white;
    flex-basis: 200px;
    padding: 10px;
    background: #ff838b;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}