#app {
    width: 96%;
    max-width: 400px;
    margin: 40px auto;
    padding: 28px;
    line-height: 1.5;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1);
    font-family: "Times New Roman";
}

dl {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    
    dt {
        display: block;
        width: 70px;
        margin: 0 10px 0 0;
        text-align: center;
        color: #ffffff;
        background-color: #00c2bc;
    
    }
    dd {
        margin: 0;
    }
    
}

a {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 1px 0;
    text-align: center;
    text-decoration: none;
    color: #555555;
    border: 1px solid #555555;
}