@charset "UTF-8";
table{
    width: 100%;
    border-collapse: collapse;
    margin-right:30%;
    padding-right:30%;
  }
  
  table tr{
    border-bottom: solid 2px white;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

  h2 {
    position: relative;
    display: inline-block;
    margin: 1rem 0 1rem -10px;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 0 100vh 100vh 0;
    background: #c6c8c9;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    font-size: 70px;
    font-family: "Nico Moji";
    font-family: 'Sawarabi Mincho', serif;
  }
  
  h2:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 10px solid #87dbff;
    border-left: 10px solid transparent;
  }

  h1{
      font-size: 150px;
      font-family: 'Alegreya Sans SC', sans-serif;
  }

  .m{
      font-size: 50px;
      font-family: 'Alegreya Sans SC', sans-serif;
  }
  h3{
    font-size: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: "Nico Moji";
    font-family: 'Sawarabi Mincho', serif;
  }
  .t{
      font-size: 90px;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-family: 'Alegreya Sans SC', sans-serif;
  }
  .s{
    font-size: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  span{
    color:#2faafc;
    font-size: 90px;
  }

  @import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
  .n{
      font-size: 20px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .palent {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:1200px;
    margin: 0px auto;
  }
  
  .child {
    text-align: center;
    width: 400px;
  }
  .child > iframe {
    width: 426px;
    height: 240px;
  }

  .btn03{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    text-align: center;
    background: transparent;
  border-radius: 25px;
  border: solid 1px rgb(110, 110, 110);
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn03:hover{
  border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn03 span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
    padding: 10px 30px;
  background:rgb(196, 196, 196);
  border-radius: 25px;
  color:rgb(212, 212, 212);
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushdown:before {
    content:"";
    /*絶対配置で影の位置を決める*/
    position: absolute;
  z-index: -1;
    top:4px;
    left:0;
    /*影の形状*/
    width: 100%;
    height: 100%;
  border-radius: 25px;
    background-color: rgb(160, 203, 223);
}

/*hoverの際にY軸に4pxずらす*/
.pushdown:hover span {
  background-color: #333;
  color: #fff;
  transform: translateY(4px);
}
.z{
  color:#52c2d0;
  font-size: 40px;
}
.q{
  font-size: 30px;
}


  inform{
    margin-left: 40%;
  }
